In [4]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [6]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [7]:
word = "Python"
for ch in word:
    print(ch)

P
y
t
h
o
n

In [8]:
word = "Artificai Intelligence"
vowels = "aeiouAEIOU"
count = 0
for ch in word:
    if ch in vowels:
        count += 1
print("Vowel count:", count)

Vowel count: 10

In [9]:
fruits = ["apple", "banana", "cherry"]
for item in fruits:
    print(item)

apple
banana
cherry

In [10]:
fruits = ["apple", "banana", "cherry"]
for index, item in enumerate(fruits):
    print(index, item)

0 apple
1 banana
2 cherry

In [11]:
for i in range(1, 11):
    print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} x {j} = {i*j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [14]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [16]:
total = 0
for i in range(1,101):
    total += i
print("Sum from 1 to 100 is:", total)

Sum from 1 to 100 is: 5050

In [17]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [18]:
for i in range(5, 0, -1):
    print("*" * i)

*****
****
***
**
*

In [19]:
for i in range(1,51):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [20]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [21]:
for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [22]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [25]:
for natural_number in range(1, 10):
    print(natural_number)

1
2
3
4
5
6
7
8
9

In [26]:
text = "Python"
rev = ""
for ch in text:
    rev = ch + rev
print("Reversed string:", rev)

Reversed string: nohtyP

In [27]:
rows = 5
for i in range(1, rows+1):
    print(" "*(rows-i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [28]:
rows = 5
for i in range(1, rows+1):
    print(" "*(rows-i), end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [29]:
num = 1234
total = 0

for digit in str(num):
    total += int(digit)

print(total)

10

In [31]:
num = 1234
rev = ""

for digit in str(num):
    rev = digit + rev

print(int(rev))

4321

In [ ]:
lst = [3, 5, 2, 8, 1]
largest = lst[0]

for i in lst:
    if i > largest:
        largest = i

print(largest)

In [1]:
original_list = [1, 2, 3, 4, 5,6,7,8,9,10]
cubes_list = []

for i in original_list:
    cubes_list.append(i ** 3)
print("Original List:", original_list)
print("Cubes List:", cubes_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Cubes List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [2]:
original_list = [['Volkswagen', 'Mercedes', 'BMW'],['Toyota', 'Honda', 'Nissan']]
flattened_list = []

for cars_list in original_list:
    for car in cars_list:
        flattened_list.append(car)
print("Flattened List:", flattened_list)

Flattened List: ['Volkswagen', 'Mercedes', 'BMW', 'Toyota', 'Honda', 'Nissan']

In [3]:
leap_year_range = range(2000,2100,4)

leap_year_list = list(leap_year_range)

print("Leap Year List:", leap_year_list)

Leap Year List: [2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]