In [3]:
def greet():
    print("Hello, World!")
greet()

Hello, World!

In [4]:
def add(a, b):
    print(a + b)
add(3, 5)

8

In [5]:
def multiply(x, y):
    return x * y
result = multiply(4, 6)
print(result)

24

In [7]:
def welcome(name="Guest"):
    print(f"Welcome, {name}!")
welcome()
welcome("Balaji")
welcome("Jhansi")

Welcome, Guest!
Welcome, Balaji!
Welcome, Jhansi!

In [9]:
def person(name, age):
    print(name,age)
person(age=40, name="Balaji")
person(name="Jhansi", age=10)

Balaji 40
Jhansi 10

In [11]:
def total_sum(*numbers):
    sum = 0
    for num in numbers:
        sum += num
    return sum
result = total_sum(1, 2, 3, 4, 5, 10)
print(result)

25

In [12]:
def profile(**details):
    print(details)
profile(name="Balaji", age=40, role="Architect")

{'name': 'Balaji', 'age': 40, 'role': 'Architect'}

In [ ]:
def get_stats(numbers):
    return min(numbers), max(numbers), sum(numbers)/len(numbers)
mn, mx, avg = get_stats([10, 20, 30, 40, 50])
print(mn, mx, avg)

In [13]:
def outer():
    print("Outer function")

    def inner():
        print("Inner function")
    inner()
outer()

Outer function
Inner function

In [ ]:
def apply(func, value):
    return func(value)
def square(x):
    return x * x
result = apply(square, 7)
print(result)

In [16]:
def myname():
    return "balaji"
print(myname())

balaji

In [22]:
def get_stats(numbers):
    return min(numbers), max(numbers), sum(numbers)

mn, mx, sm = get_stats([10, 20, 30, 40])
print(mn, mx, sm)

10 40 100

In [23]:
square = lambda x: x * x
print(square(5))

25

In [4]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
print(list(map(lambda x: x * 2, numbers)))
print(list(filter(lambda x: x % 2 == 0, numbers)))
print(reduce(lambda x, y: x + y, numbers))

[2, 4, 6, 8, 10]
[2, 4]
15

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))  # Output: 120