In [3]:
a=1
b=2
if(a<b):
    print("a is less than b")

a is less than b

In [5]:
a=112
b=2
if(a<b):
    print("a is less than b")
else:
    print("a is not less than b")

a is not less than b

In [7]:
a=112
b=2
if(a==b):
    print("a is equal to b")
else:
    print("a is not equal to b")

a is not equal to b

In [8]:
salary= int(input("Enter your salary: "))
expenses= int(input("Enter your expenses: "))
savings= salary - expenses
print("My total savings are:", savings)

My total savings are: 9000

In [9]:
first_num=int(input("Enter first variable: "))
second_num=int(input("Enter second variable: "))

first_num = first_num + second_num
second_num = first_num - second_num
first_num = first_num - second_num
print("After swapping, first variable is:", first_num)
print("After swapping, second variable is:", second_num)

After swapping, first variable is: 200
After swapping, second variable is: 100

In [11]:
num=int(input("Enter a number: "))

temp1 = str(num)
temp2 = temp1 + temp1
temp3 = temp1 + temp1 + temp1
total = num + int(temp2) + int(temp3)
print(temp1, "+", temp2, "+", temp3, "=", total)

50 + 5050 + 505050 = 510150

In [14]:
num_1=int(input("Enter first number: "))
num_2=int(input("Enter second number: "))
Quotient = int(num_1 / num_2)
print("The quotient is:", Quotient)
Remainder = num_1 % num_2
print("The remainder is:", Remainder)

The quotient is: 3
The remainder is: 1

In [16]:
principal = float(input("Enter the principal amount: "))
time = int(input("Enter the time in years: "))
rate = float(input("Enter the rate of interest: "))
simple_int = (principal * time * rate) / 100
print("Principal amount is:", principal)
print("Time in years is:", time)
print("Rate of interest is:", rate)
print("The simple interest is:", simple_int)

Principal amount is: 800.0
Time in years is: 6
Rate of interest is: 3.0
The simple interest is: 144.0

In [17]:
cm = int(input("Enter length in centimeters: "))
inces = 0.393701 * cm
feet = 0.0328084 * cm
print("the length in inches is:", round(inces, 2))
print("the length in feet is:", round(feet, 2))

the length in inches is: 3.94
the length in feet is: 0.33

In [18]:
cars_list = ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi']
print("list of cars before the swap:", cars_list)
temp = cars_list[0]
cars_list[0] = cars_list[3]
cars_list[3] = temp
print("list of cars after the swap:", cars_list)

list of cars before the swap: ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi']
list of cars after the swap: ['BMW', 'Honda', 'Ford', 'Toyota', 'Audi']

In [19]:
cars_list = ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi']
print("lit of cars before the swap:", cars_list)
car1 = 1
car2 = 2
cars_list[car1], cars_list[car2] = cars_list[car2], cars_list[car1]
print("list of cars after the swap:", cars_list)

lit of cars before the swap: ['Toyota', 'Honda', 'Ford', 'BMW', 'Audi']
list of cars after the swap: ['Toyota', 'Ford', 'Honda', 'BMW', 'Audi']

In [22]:
list_students = ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Bob']
print("Original list of students:", list_students)
print("Number of students:", len(list_students))
student_set = set(list_students)
print("\nNew student list after removing duplicates:", student_set)
print("Length of new student list:", len(student_set))
print("There are %s duplicate entries in the original list." % (len(list_students) - len(student_set)))

Original list of students: ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Bob']
Number of students: 6

New student list after removing duplicates: {'David', 'Charlie', 'Alice', 'Eva', 'Bob'}
Length of new student list: 5
There are 1 duplicate entries in the original list.

In [24]:
list_str = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'apple', 'grape', 'elderberry']
len_list_str = len(list_str)
len_set_str = len(set(list_str))
if len_list_str == len_set_str:
    print("No duplicates found in the list.")
else:
    print("There are {} duplicate entries in the list.".format(len_list_str - len_set_str))

There are 2 duplicate entries in the list.

In [25]:
num_value = int(input("Enter first number: "))
print("The number stored in the variable num_value is:", num_value)
if not num_value % 2 == 0:
    print("The number is odd.")
else:
    print("The number is even.")

The number stored in the variable num_value is: 20
The number is even.

In [26]:
values = input("Enter comma-separated values: ")
values_list = values.split(",")
tuple_values = tuple(values_list)
print("List:", values_list)
print("Tuple:", tuple_values)

List: ['20', '30', '40', '50']
Tuple: ('20', '30', '40', '50')

In [29]:
list_words = input("Enter comma-separated words: ")
words = list_words.split(",")
new_list_words = sorted(words)
print("Original list:", list_words)
print("Sorted list:", new_list_words)

Original list: balaji,hema,mokshitha,jhanu
Sorted list: ['balaji', 'hema', 'jhanu', 'mokshitha']

In [33]:
sentence = input("Enter some white space separated words: ")
words = sentence.split(" ")
set_of_words = set(words)
sorted_set_of_words = sorted(set_of_words)
print(" ".join(sorted_set_of_words))

a balaji boy good is

In [34]:
num_dict = dict()
num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 2

print("Dictionary contents:", num_dict)

Dictionary contents: {1: 1, 2: 4, 3: 9}

In [37]:
string_1 = input("Enter first string: ")
string_2 = input("Enter second string: ")
set_1 = set(string_1)
set_2 = set(string_2)
common_chars = set_1.intersection(set_2)
print("Common characters in both strings:", list(common_chars))

Common characters in both strings: ['i', 'a', 'j']

In [38]:
list_num = [10,11,12,13,14,15,16,17,18,19,20]

len_of_list = len(list_num)

print("Numbers before slicing: %s" % list_num)
print("Length of numbers before slicing: %d" % len_of_list)

half = int(len_of_list /2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("First half of the list: %s" % list_num1)
print("Second half of the list: %s" % list_num2)

Numbers before slicing: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Length of numbers before slicing: 11
First half of the list: [10, 11, 12, 13, 14]
Second half of the list: [15, 16, 17, 18, 19, 20]

In [41]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

The number is zero.

In [43]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("The number is zero.")
    else:
        print("The number is positive.")
else:
    print("The number is negative.")

The number is negative.

In [45]:
var = 1.25
if (type(var) == int):
    print("The variable is an integer.")
elif (type(var) == float):
    print("The variable is a float.")
elif (type(var) == complex):
    print("The variable is a complex number.")
else:
    print("The variable is of unknown type.")

The variable is a float.

In [46]:
import math

def is_prime(n: int) -> bool:
    """Return True if n is prime, False otherwise."""
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0:
        return False
    limit = math.isqrt(n)
    for i in range(3, limit + 1, 2):
        if n % i == 0:
            return False
    return True

# Use existing num_value if available; otherwise prompt the user.
try:
    n = int(input("Enter an integer to check for primality (press Enter to use num_value): ") or num_value)
except NameError:
    n = int(input("Enter an integer to check for primality: "))

print(f"{n} is {'a prime' if is_prime(n) else 'not a prime'} number.")

6 is not a prime number.

In [47]:
num1 = float(input("Enter first number: "))
operator = input("Enter operator (+, -, *, /): ")
num2 = float(input("Enter second number: "))
if operator == '+':
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operator == '-':
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operator == '*':
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Error: Invalid operator.")

10.0 / 5.0 = 2.0

In [50]:
num_1 = int(input("Enter a number: "))

if num_1 % 5 == 0 and num_1 % 7 == 0:
    print(f"{num_1} is divisible by both 5 and 7.")
elif num_1 % 5 == 0:
    print(f"{num_1} is divisible by 5.")
elif num_1 % 7 == 0:
    print(f"{num_1} is divisible by 7.")
else:
    print(f"{num_1} is not divisible by either 5 or 7.")

3 is not divisible by either 5 or 7.

In [52]:
a = "40.6 "
b = "60.4 "
c = a + b
print("The concatenated result of a and b is:", c)

The concatenated result of a and b is: 40.6 60.4

In [53]:
value = 4

a = str(value)
b = a + "^" + "2"
c = a + "^" + "3"
print(value, "+", b, "+", c)

4 + 4^2 + 4^3

In [54]:
a = "six"
b = (int(a), float(a))
print(b)

ValueError: invalid literal for int() with base 10: 'six'

In [55]:
a = [1, 'one', {2: 'two'}, 3]
b = len(a)

if b == 4:
    print('length of this list is 4')
    if b == 5:
        print('length of this list is 5')
    else:
        print(b)

length of this list is 4
4

In [56]:
if 'bin' in {'float': 1.2, 'bin': 0b010}:
    print('a')
    print('b')
print('c')

a
b
c

In [57]:
a = 5
c = "five"
print(a==c)

False

In [58]:
if None:
    print("This will not be printed.")

In [59]:
var = "hi"
print(type(var))

<class 'str'>

In [60]:
a = '1'+'2' if '123'.isdigit() else '2'+'3'
print(a)

12